Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Block access to hidden files and sensitive extensions
    RewriteRule \.(env|sqlite|sql|log|lock|bak|yml|yaml)$ - [F,L,NC]
    RewriteRule (^|/)\.(?!well-known) - [F,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L,QSA]
</IfModule>
